@using SHUNetMVC.Abstraction.Model.Response;
@model User


<div class="header-page">
    @ViewBag.Title
</div>
<div>
    <img src="~/Assets/Explore your data here! (1).png" class="rounded mx-auto d-block" alt="..." style="width:100%; height:100%">
</div>

@*<div class="table-title">
    <div class="heading-Text">
        Welcome Back, @Model.Name
    </div>
    <div class="table-subtitle">
        Heading sub title
    </div>
</div>

<div class="p-3">
    <div class="container text-center">
        <div class="row align-items-start">
            <div class="col heading-Text" style="padding-top: 20px">
                <p class="fw-bold" style="text-align: left; font-family: 'Fredoka One', cursive;font-size:55px">Explore your data here!</p>
                <p style="padding-top: 10px; text-align: left; font-size:large; font-family: 'Poppins', sans-serif">X-Plore is an integrated prospect, lead, PSB, and undeveloped discovery database inventory application that can help exploration officers carry out the process of searching, inputting, outputting, and other experiences related to data</p>
            </div>
            <div class="col">
               <img src="~/Assets/Explore your data here! (1).png" class="rounded mx-auto d-block" alt="..." style="width:750px; height:inherit">
            </div>
        </div>
    </div>
    <div>
        <p style="text-align:justify">
            X-PLORE is an application for save exploration and eSDC data with approval feature for data.
        </p>
        @for (int i = 0; i < 20; i++)
            {
                <p style="text-align:justify">
                    Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor. Voluptate exercitation incididunt aliquip deserunt reprehenderit elit laborum. Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor. Voluptate exercitation incididunt aliquip deserunt reprehenderit elit laborum. Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor. Voluptate exercitation incididunt aliquip deserunt reprehenderit elit laborum. Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor. Voluptate exercitation incididunt aliquip deserunt reprehenderit elit laborum. Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor. Voluptate exercitation incididunt aliquip deserunt reprehenderit elit laborum. Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor. Voluptate exercitation incididunt aliquip deserunt reprehenderit elit laborum.
                </p>
            }
    </div>
</div>*@