
@{
    Layout = null;
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Dev</title>
    <link href="~/Styles/LoginForm.css" rel="stylesheet" />
</head>
<body>
    <div class="login-form">
        <form>
            <h1>Login Development</h1>
            <div class="content">
                <div class="input-field">
                    <input id="input-login-username" type="text" placeholder="Username" autocomplete="nope">
                </div>
            </div>
            <div class="action">
                <button>Sign in</button>
            </div>
        </form>
    </div>
    <script src="~/Scripts/LoginForm.js"></script>
</body>
</html>
