@using Kendo.Mvc.UI
@using SHUNetMVC.Abstraction.Model.View;
@model FormDefinition
@{
    string CurrentControllerName = Convert.ToString(HttpContext.Current.Request.RequestContext.RouteData.Values["Controller"]);
    var formUrl = CurrentControllerName;
    var modalTitle = $"Add New {Model.Title}";
    if (Model.State == FormState.Create)
    {
        formUrl = Model.Title + "/Create";
    }
    else
    {
        modalTitle = $"Edit {Model.Title}";
        formUrl = Model.Title + "/Edit";
    }

}
<style>
    .k-grid-header, .k-grid-header .k-header {
        background-color: #D6E7F3;
        border-color: #A5CAE6;
    }

    .k-grid-toolbar {
        background-color: #D6E7F3;
        border-color: #A5CAE6;
    }

    .k-button {
        background-color: #D6E7F3;
        border-color: #A5CAE6;
        transition-duration: 0.4s;
    }

        .k-button:hover {
            background-color: #8fa2b1;
            border-color: #A5CAE6;
        }
</style>
<form action="@formUrl" method="post" onsubmit="event.preventDefault()" form-state="@Model.State">
    <div class="table-title">
        <div class="heading-Text">
            Drilling Scheme
        </div>
        <div class="table-subtitle">
            This is the list of Drillng Scheme
        </div>
    </div>
    <div class="modal-body">
        <div>
            @(Html.Kendo().Grid<SHUNetMVC.Abstraction.Model.Dto.TXDrillingDto>()
            .Name("gridDrl")
            .Columns(columns =>
            {
                columns.Bound(p => p.xStructureID).Width(100);
                columns.Bound(p => p.xWellID).Width(100);
                columns.Bound(p => p.WellName).Width(250).HtmlAttributes(new { style = "text-align: center" }).HeaderHtmlAttributes(new { style = "text-align: center; justify-content: flex-end;" });
                columns.Bound(p => p.DrillingLocation).Width(250).HtmlAttributes(new { style = "text-align: center" }).HeaderHtmlAttributes(new { style = "text-align: center; justify-content: flex-end;" });
                columns.Group(group1 => group1
                    .HeaderHtmlAttributes(new { style = "text-align: center; justify-content: flex-end;" })
                    .Title("Water Depth")
                    .Columns(info =>
                    {
                        info.Bound(c => c.WaterDepthMeter).Width(100).HtmlAttributes(new { style = "text-align: center" }).HeaderHtmlAttributes(new { style = "text-align: center; justify-content: flex-end;" });
                        info.Bound(c => c.WaterDepthFeet).Width(100).HtmlAttributes(new { style = "text-align: center" }).HeaderHtmlAttributes(new { style = "text-align: center; justify-content: flex-end;" }).Editable("returnFalse");
                    })
                );
                columns.Group(group2 => group2
                    .HeaderHtmlAttributes(new { style = "text-align: center; justify-content: flex-end;" })
                    .Title("Total Depth")
                    .Columns(info =>
                    {
                        info.Bound(c => c.TotalDepthMeter).Width(100).HtmlAttributes(new { style = "text-align: center" }).HeaderHtmlAttributes(new { style = "text-align: center; justify-content: flex-end;" });
                        info.Bound(c => c.TotalDepthFeet).Width(100).HtmlAttributes(new { style = "text-align: center" }).HeaderHtmlAttributes(new { style = "text-align: center; justify-content: flex-end;" }).Editable("returnFalse");
                    })
                );
                columns.Bound(p => p.RigTypeParID).Sortable(false).Width(200).HtmlAttributes(new { style = "text-align: center" }).HeaderHtmlAttributes(new { style = "text-align: center; justify-content: flex-end;" });
                columns.Bound(p => p.WellTypeParID).Sortable(false).Width(200).HtmlAttributes(new { style = "text-align: center" }).HeaderHtmlAttributes(new { style = "text-align: center; justify-content: flex-end;" });
                columns.Group(group3 => group3
                    .HeaderHtmlAttributes(new { style = "text-align: center; justify-content: flex-end;" })
                    .Title("Surface Location")
                    .Columns(info =>
                    {
                        info.Bound(c => c.SurfaceLocationLongitude).Width(100).HtmlAttributes(new { style = "text-align: center" }).HeaderHtmlAttributes(new { style = "text-align: center; justify-content: flex-end;" });
                        info.Bound(c => c.SurfaceLocationLatitude).Width(100).HtmlAttributes(new { style = "text-align: center" }).HeaderHtmlAttributes(new { style = "text-align: center; justify-content: flex-end;" });
                    })
                );
                columns.Group(group4 => group4
                    .HeaderHtmlAttributes(new { style = "text-align: center; justify-content: flex-end;" })
                    .Title("BH Location")
                    .Columns(info =>
                    {
                        info.Bound(c => c.BHLocationLongitude).Width(100).HtmlAttributes(new { style = "text-align: center" }).HeaderHtmlAttributes(new { style = "text-align: center; justify-content: flex-end;" });
                        info.Bound(c => c.BHLocationLatitude).Width(100).HtmlAttributes(new { style = "text-align: center" }).HeaderHtmlAttributes(new { style = "text-align: center; justify-content: flex-end;" });
                    })
                );
                columns.Bound(p => p.DrillingCost).Width(130).HtmlAttributes(new { style = "text-align: center" }).HeaderHtmlAttributes(new { style = "text-align: center; justify-content: flex-end;" });
                columns.Bound(p => p.ExpectedDrillingDate).Width(200).HtmlAttributes(new { style = "text-align: center" }).HeaderHtmlAttributes(new { style = "text-align: center; justify-content: flex-end;" });
                columns.Group(group5 => group5
                    .HeaderHtmlAttributes(new { style = "text-align: center; justify-content: flex-end;" })
                    .Title("Resources")
                    .Columns(info =>
                    {
                        info.Bound(c => c.P90ResourceOil).Width(100).HtmlAttributes(new { style = "text-align: center" }).HeaderHtmlAttributes(new { style = "text-align: center; justify-content: flex-end;" });
                        info.Bound(c => c.P50ResourceOil).Width(100).HtmlAttributes(new { style = "text-align: center" }).HeaderHtmlAttributes(new { style = "text-align: center; justify-content: flex-end;" });
                        info.Bound(c => c.P10ResourceOil).Width(100).HtmlAttributes(new { style = "text-align: center" }).HeaderHtmlAttributes(new { style = "text-align: center; justify-content: flex-end;" });
                        info.Bound(c => c.P90ResourceGas).Width(100).HtmlAttributes(new { style = "text-align: center" }).HeaderHtmlAttributes(new { style = "text-align: center; justify-content: flex-end;" });
                        info.Bound(c => c.P50ResourceGas).Width(100).HtmlAttributes(new { style = "text-align: center" }).HeaderHtmlAttributes(new { style = "text-align: center; justify-content: flex-end;" });
                        info.Bound(c => c.P10ResourceGas).Width(100).HtmlAttributes(new { style = "text-align: center" }).HeaderHtmlAttributes(new { style = "text-align: center; justify-content: flex-end;" });
                    })
                );
                columns.Bound(p => p.CurrentPG).Width(130).HtmlAttributes(new { style = "text-align: center" }).HeaderHtmlAttributes(new { style = "text-align: center; justify-content: flex-end;" });
                columns.Bound(p => p.ExpectedPG).Width(130).HtmlAttributes(new { style = "text-align: center" }).HeaderHtmlAttributes(new { style = "text-align: center; justify-content: flex-end;" });
                columns.Group(group6 => group6
                    .HeaderHtmlAttributes(new { style = "text-align: center; justify-content: flex-end;" })
                    .Title("Chance Components")
                    .Columns(info =>
                    {
                        info.Bound(c => c.ChanceComponentSource).Width(100).HtmlAttributes(new { style = "text-align: center" }).HeaderHtmlAttributes(new { style = "text-align: center; justify-content: flex-end;" });
                        info.Bound(c => c.ChanceComponentTiming).Width(100).HtmlAttributes(new { style = "text-align: center" }).HeaderHtmlAttributes(new { style = "text-align: center; justify-content: flex-end;" });
                        info.Bound(c => c.ChanceComponentReservoir).Width(100).HtmlAttributes(new { style = "text-align: center" }).HeaderHtmlAttributes(new { style = "text-align: center; justify-content: flex-end;" });
                        info.Bound(c => c.ChanceComponentClosure).Width(100).HtmlAttributes(new { style = "text-align: center" }).HeaderHtmlAttributes(new { style = "text-align: center; justify-content: flex-end;" });
                        info.Bound(c => c.ChanceComponentContainment).Width(100).HtmlAttributes(new { style = "text-align: center" }).HeaderHtmlAttributes(new { style = "text-align: center; justify-content: flex-end;" });
                    })
                );
                columns.Group(group7 => group7
                    .HeaderHtmlAttributes(new { style = "text-align: center; justify-content: flex-end;" })
                    .Title("NPV Profitability")
                    .Columns(info =>
                    {
                        info.Bound(c => c.P90NPVProfitabiltyOil).Width(100).HtmlAttributes(new { style = "text-align: center" }).HeaderHtmlAttributes(new { style = "text-align: center; justify-content: flex-end;" });
                        info.Bound(c => c.P50NPVProfitabiltyOil).Width(100).HtmlAttributes(new { style = "text-align: center" }).HeaderHtmlAttributes(new { style = "text-align: center; justify-content: flex-end;" });
                        info.Bound(c => c.P10NPVProfitabiltyOil).Width(100).HtmlAttributes(new { style = "text-align: center" }).HeaderHtmlAttributes(new { style = "text-align: center; justify-content: flex-end;" });
                        info.Bound(c => c.P90NPVProfitabiltyGas).Width(100).HtmlAttributes(new { style = "text-align: center" }).HeaderHtmlAttributes(new { style = "text-align: center; justify-content: flex-end;" });
                        info.Bound(c => c.P50NPVProfitabiltyGas).Width(100).HtmlAttributes(new { style = "text-align: center" }).HeaderHtmlAttributes(new { style = "text-align: center; justify-content: flex-end;" });
                        info.Bound(c => c.P10NPVProfitabiltyGas).Width(100).HtmlAttributes(new { style = "text-align: center" }).HeaderHtmlAttributes(new { style = "text-align: center; justify-content: flex-end;" });
                    })
                );
                columns.Command(command => command.Destroy()).Width(250).HtmlAttributes(new { style = "text-align: center" }).HeaderHtmlAttributes(new { style = "text-align: center; justify-content: flex-end;" });
            })
            .DataSource(dataSource => dataSource
                .Ajax()
                .Batch(true)
                .ServerOperation(false)
                .Events(events => events.Error("error_handler").Change("onChange"))
                .Model(model =>
                {
                    model.Id(p => p.xStructureID);
                    model.Field(p => p.xStructureID).Editable(false);
                    model.Id(p => p.xWellID);
                    model.Field(p => p.xWellID).Editable(false);
                    model.Field(p => p.RigTypeParID).DefaultValue(
                        ViewData["rigCategory"] as string);
                    model.Field(p => p.RigTypeParID).DefaultValue(
                        ViewData["wellCategory"] as string);
                })
                .PageSize(20)
                .Read(read => read.Action("EditingCustomDR_Read", "Drilling"))
                .Create(create => create.Action("EditingCustomDR_Create", "Drilling"))
                .Update(update => update.Action("EditingCustomDR_Update", "Drilling"))
                .Destroy(destroy => destroy.Action("EditingCustomDR_Destroy", "Drilling"))
            )
            .ToolBar(toolBar =>
            {
                toolBar.Create();
                toolBar.Save();
            })
            .Editable(editable => editable.Mode(GridEditMode.InCell))
            .Pageable()
            .Selectable(selectable => selectable
            .Mode(GridSelectionMode.Multiple)
            .Type(GridSelectionType.Cell))
            .Navigatable()
            .AllowCopy(true)
            .Scrollable()
            .HtmlAttributes(new { style = "height:550px" }))
        </div>
    </div>
</form>
<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
    function returnFalse() {
        return false;
    }
    function onChange(e) {
        const numberFormatter = Intl.NumberFormat('en-US');
        if (e.field == "WaterDepthMeter") {
            var grid = $('#gridDrl').data('kendoGrid');
            var selectedRows = grid.select();
            var firstItem = $('#gridDrl').data().kendoGrid.dataSource.data()[selectedRows.length - 1];
            var test = parseFloat(firstItem["WaterDepthMeter"]) * 3.28084
            firstItem["WaterDepthFeet"] = numberFormatter.format(parseFloat(test).toFixed(2));
            $('#gridDrl').data("kendoGrid").refresh();
        }
        if (e.field == "TotalDepthMeter") {
            var grid = $('#gridDrl').data('kendoGrid');
            var selectedRows = grid.select();
            var firstItem = $('#gridDrl').data().kendoGrid.dataSource.data()[selectedRows.length - 1];
            var test = parseFloat(firstItem["TotalDepthMeter"]) * 3.28084
            firstItem["TotalDepthFeet"] = numberFormatter.format(parseFloat(test).toFixed(2));
            $('#gridDrl').data("kendoGrid").refresh();
        }
    }
    function tsvJSON(tsv) {
        var lines = tsv.trim().split("\n");
        var result = [];
        var headers = lines[0].split("\t");
        for (var i = 1; i < lines.length; i++) {
            var obj = {};
            var currentline = lines[i].split("\t");
            for (var j = 0; j < headers.length; j++) {
                obj[headers[j].trim()] = currentline[j];
            }
            result.push(obj);
        }
        return result; //JSON
    }

    document.getElementById('gridDrl').addEventListener('paste', function (e) {
        var tsv;
        if (e.ctrlKey && (e.keyCode == 17)) {
            tsv = window.clipboardData.getData('Text');
        } else {
            tsv = e.clipboardData.getData('Text')
        }
        if (tsv) {
            const grid = $('#gridDrl').data('kendoGrid');
            const pastedData = tsvJSON(tsv);
            console.log(pastedData);
            $.map(pastedData, function (val, i) {
                // Do something
                console.log(val);
                grid.dataSource.add(val).set("", { WellName: true, DrillingLocation: true, WaterDepthMeter: true, WaterDepthFeet: true, TotalDepthMeter: true, TotalDepthFeet: true, RigTypeParID: true, WellTypeParID: true, SurfaceLocationLongitude: true, SurfaceLocationLatitude: true, BHLocationLongitude: true, BHLocationLatitude: true, DrillingCost: true, ExpectedDrillingDate: true, P90ResourceOil: true, P50ResourceOil: true, P10ResourceOil: true, P90ResourceGas: true, P50ResourceGas: true, P10ResourceGas: true, CurrentPG: true, ExpectedPG: true, ChanceComponentSource: true, ChanceComponentTiming: true, ChanceComponentReservoir: true, ChanceComponentClosure: true, ChanceComponentContainment: true, P90NPVProfitabiltyOil: true, P50NPVProfitabiltyOil: true, P10NPVProfitabiltyOil: true, P90NPVProfitabiltyGas: true, P50NPVProfitabiltyGas: true, P10NPVProfitabiltyGas: true });
            });
        }
    });

    function releasedate_changed() {
        var grid = $('#gridDrl').data('kendoGrid');
        var selectedRows = grid.select();
        var dvalue = $("#datepicker").val();
        var firstItem = $('#gridDrl').data().kendoGrid.dataSource.data()[selectedRows.length - 1];
        var fDate = new Date(Date.parse(dvalue));
        var MM = fDate.getMonth() + 1;   // javascript month start with 0
        var DD = fDate.getDate();
        var YY = fDate.getFullYear();
        if (MM == 1) MM = "Jan";
        else if (MM == 2) MM = "Feb";
        else if (MM == 3) MM = "Mar";
        else if (MM == 4) MM = "Apr";
        else if (MM == 5) MM = "Mei";
        else if (MM == 6) MM = "Jun";
        else if (MM == 7) MM = "Jul";
        else if (MM == 8) MM = "Agu";
        else if (MM == 9) MM = "Sep";
        else if (MM == 10) MM = "Okt";
        else if (MM == 11) MM = "Nov";
        else MM = "Des";
        if (DD < 10) DD = "0" + DD;
        var dtEnd = DD + "-" + MM + "-" + YY;
        firstItem["ExpectedDrillingDate"] = dtEnd;
    }
</script>
