<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DB_PHE_ExplorationEntities" connectionString="metadata=res://*/Model.Entities.ExplorationContext.csdl|res://*/Model.Entities.ExplorationContext.ssdl|res://*/Model.Entities.ExplorationContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CLUDBDEVL.pertamina.com\PHESQLCLUDB;initial catalog=DB_PHE_Exploration;persist security info=True;user id=user_app_phe_xplore_dev;password=phe_xplore_user_app_dev;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DB_PHE_HRIS_DEVEntities" connectionString="metadata=res://*/Model.Entities.Hris_Dev.csdl|res://*/Model.Entities.Hris_Dev.ssdl|res://*/Model.Entities.Hris_Dev.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CLUDBDEVL.pertamina.com\PHESQLCLUDB;initial catalog=DB_PHE_HRIS_DEV;persist security info=True;user id=user_app_phe_xplore_dev;password=phe_xplore_user_app_dev;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="serilog:minimum-level" value="Information" />
    <add key="serilog:using:File" value="Serilog.Sinks.File" />
    <add key="serilog:write-to:File.path" value="C:\Data\Work\Repo\SHUNetMVC\SHUNetMVC.Web\bin\Logs\log.txt" />
    <add key="serilog:write-to:File.fileSizeLimitBytes" value="10000000" />
    <add key="serilog:write-to:File.rollOnFileSizeLimit" value="true" />
    <add key="serilog:write-to:File.retainedFileCountLimit" value="10" />
    <add key="oidc:ServerRealm" value="https://sso.phe.pertamina.com/auth/realms/phe" />
    <add key="oidc:ClientId" value="phe_webapps" />
    <add key="oidc:ClientSecret" value="814c7f60-667f-499c-be07-e8804ac19d34" />
    <add key="oidc:Metadata" value="https://sso.phe.pertamina.com/auth/realms/phe/.well-known/openid-configuration" />
    <add key="oidc:RedirectUri" value="http://localhost:8080/Home/LoginSSO" />
    <!--<add key="oidc:RedirectUri" value="https://webappdev01.phe.pertamina.com/phe_xplore/Home/LoginSSO" />-->
    <add key="aiman:AppFK" value="a7c814a2-0fc7-48da-952e-c0aa8618bfcb" />
    <add key="aiman:XAuth" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCIsImN0eSI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6ImFwaS51cHN0cmVhbS5pZGFtcyIsIm5iZiI6MTY1OTY2Mzk0OSwiZXhwIjoxNjkxMTk5OTQ5LCJpYXQiOjE2NTk2NjM5NDl9.F0Ot37olRifKXqTEk6SK5IhYdP1-xZMFQSB_Y2N7mf4" />
    <add key="aiman:Uri" value="http://phekpwebdev01.pertamina.com" />
    <add key="aiman:MasterUserData" value="/PHEMadamAPI/api/Employee/GetAllMasterEmployee" />
    <add key="aiman:UserData" value="/PHEMadamAPI/api/Application/UserData" />
    <add key="aiman:UserMenu" value="/PHEMadamAPI/api/Application/GetAppMenu" />
    <add key="aiman:XPropMasterData" value="iGp/+U/i4M1pFXW2Otl+LxGbL5igl4UJ1kg+3cc853HEtuGdnvl9qhHRqMGtDFTW61w8KWKDeOC5Pm8WF2cNpNkHjnG+j/52rl6d/RyUzNxgnADn3y1qUsuzIC+dhty/EcRbNrZhPHFjkAQTH1W2N4MU7W0XwXoVE/pvb/aEV7g=" />
    <add key="aiman:XPropUserData" value="kVU44eQuJZ+FpEfvEzcCm5ux3vQL/oK2rgrufiKgmDYw2L/EqgjNyJRH2H5UfL9M" />
    <add key="aiman:XPropUserMenu" value="hk4WPrGK9SC/x46J9cSguUTiVqCGEXPbs+8u4Fp6bbSYrgszt/hgTxSihyVWm55rsDNWKcZgv1Ei/+OQ+bDdilYslZRVKxnlWd6tigUIrdnIN10S999bmr0/jF50RpfwUfUcERwCdrOpENmW3n+iRg==" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <!--change to None for SSO login, change to Forms for bypass login-->
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" maxRequestLength="1048576" maxQueryStringLength="32768" maxUrlLength="65536" />
    <customErrors mode="Off" />
  <pages>
    <namespaces>
      <add namespace="Kendo.Mvc.UI" /></namespaces></pages>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <!--enable this when using sso authentication-->
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" maxQueryString="32768" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.16.0.0" newVersion="2.16.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ExcelNumberFormat" publicKeyToken="23c6f5d73be07eca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SkiaSharp" publicKeyToken="0738eb9f132ed756" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.88.0.0" newVersion="2.88.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SkiaSharp.HarfBuzz" publicKeyToken="0738eb9f132ed756" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.88.0.0" newVersion="2.88.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>